@page "/"
@inject IJSRuntime jsRuntime

<button @onclick="OpenPDF">Open from Blazor</button>

@code
{
    private static Index _injector;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _injector = this;
    }

    internal static IJSRuntime GetJSRuntime()
    {
        return _injector.jsRuntime;
    }

    private async void OpenPDF()
    {
        await jsRuntime.InvokeVoidAsync("openFile",
            new object[] { });
    }

}
